<div class="input-group-append">
    <form id="approveForm" class="col s4">
        <input type="hidden" name="approve" value="true">
        <button id="approve" data-id="{{ id }}">Approve</button>
    </form>
</div>