<div class="input-group-append">
    <form id="editForm" class="col s4">
        <input type="hidden" name="approve" value="true">
        <!-- Modal Trigger -->
        <button data-target="modal{{ id }}" class="modal-trigger" id="edit" data-id="{{ id }}">Modal</button>
    </form>
</div>