<div id="formContainerDiv" class="row">
    <p>All fields are required</p>
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" required>
                <label for="name">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="user_name" type="text" required>
                <label for="user_name">User Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" required>
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" required>
                <label for="email" data-error="Please enter a valid email format: email@example.com" data-success="Valid">Email</label>
            </div>
        </div>
    </form>
</div>