<div class="row">
    <div class="col s6 offset-s3 center-align">
        <br>
        <br>
        <a href="/auth/google"><img src="/assets/img/googlebutton.png" alt="Google login button"></a>
        <br>
        <br>
        <p>More sign in options coming soon!</p>
    </div>
</div>
