<div class="container">
    <div class="row">
        <h4>Welcome to your profile, {{user.username}}!</h4>

        <img src="{{user.thumbnail}}" alt="{{user.username}}">
        <br>
        <h4>Extra information coming soon!</h4>

        <div class="col s6 center-align">
            <h5>Spots I Want to Visit:</h5>
        </div>

        <div class="col s6 center-align">
            <h5>Spots I Have Visited:</h5>
        </div>
    </div>
</div>